#imgStatut
{
    height: 75px;
}

.top-box{
    background-color:#eeeef0;
    padding-bottom: 2vh;
}

.filtre-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.status-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
.unStatus{
    align-self: center;
    margin: 0 1vw
  }

.content-box{
    border: solid 0.1px;
    min-height: 25vh;
}

.askbar{
    height: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
}

.errorMessage{
    text-align: center;
}

.codeTitle{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}

#codeListe{
    width:50%;
    margin-left: 25%;
    margin-bottom: 5px;
}

.askBtn{
    width:20%;
    margin-left: 40%;
    border-radius: 5px;
    background-color: rgb(183, 250, 250);
    border-color: #afafaf;
    font-weight:500
}

/*PageListeAContacter*/

.unFournisseur{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
    margin: 5px 10px;
    border: black groove 2px;
    padding: none;
}

.infoFournisseur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    border-right: 2px solid black ;
}

.infoComs{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 2px solid black ;
    width: 15vw;
}

.btnComs{
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.infoContact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
    border-right: 2px solid black ;
    width: 30vw;
}

.btnContact{
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.infoComsContact{
    display: flex;
    flex-direction: row;
}

.infoContacte{
    justify-content: space-around;
    background-color: #ffffff;
    width: 10vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}