

html, body {
  height: 100%;
}

.page-wrap {
  min-height: calc(100% - 100px);
  /* equal to footer height */
  margin-bottom: -50px; 
}

.site-footer {
  height: 50px;
  background: #E7E7E4;
  text-align: center;
  font-family: 'Play', sans-serif;
  color: #092D74;
  font-size: 8pt;
  padding: 10px 0px;
  margin-top: 50px;
}

